<div class="container" *ngIf="initialized">
  <div class="nameStyle">Edit Book </div>
  <mat-form-field class="fullWidthItem">
    <mat-label>Title</mat-label>
    <input (input)="updateButtonState()" matInput [(ngModel)]="title" required>
  </mat-form-field>
  <mat-form-field class="fullWidthItem">
    <mat-label>Author</mat-label>
    <input (input)="updateButtonState()" matInput [(ngModel)]="author" required>
  </mat-form-field>
  <mat-form-field class="fullWidthItem">
    <mat-label>Publisher</mat-label>
    <input (input)="updateButtonState()" matInput [(ngModel)]="publisher" required>
  </mat-form-field>
  <div>
    <button class="fullWidthItem" [disabled]="isButtonDisabled" mat-raised-button style="background-color: green; font-weight: bold;" (click)="onPress()">Edit</button>
  </div>
</div>
