<div *ngIf="initialized">
  <div class="container">
    <div>Reservation time start:</div>
    <div>{{reservation.reservetimestart | date: 'short'}}</div>
  </div>
  <div class="container">
    <div>Reservation time end:</div>
    <div>{{reservation.reservetimeend | date: 'short'}}</div>
  </div>

  <div class="buttonContainer">
    <button class="button" mat-raised-button style="background-color: green; font-weight: bold;" (click)="onEditClick()">Edit</button>
    <br>
    <button class="button" mat-raised-button style="background-color: red; font-weight: bold;" (click)="onDeleteClick()">Delete</button>
  </div>
</div>

